# Don't sync test renders of READMEs to GitHub
**/README.html

# Dont sync Redis backups
redis/backups/*
# Don't sync Redis data
redis/data/*

# Don't sync secrets to GitHub
**/redis.conf
**/redis_auth.py
**/twitter_auth.py
**/id_ed25519
**/id_ed25519.pub

# Don't sync test MRT files to GitHub
**/*.bz2
**/*.gz

# Don't sync mypy cache
**/.mypy_cache/

# Don't sync pycache
**/__pycache__/

# Dont sync Pytest cache
.pytest_cache/

# Don't sync tox cache
.tox

# Don't sync virtualenv
**/venv/
**/.venv/
