# Don't sync test renders of READMEs to GitHub
**/README.html

# Dont sync Redis backups
redis/backups/*

# Don't sync secrets to GitHub
**/redis_auth.py
**/twitter_auth.py
**/ed25519
**/ed25519.pub

# Don't sync test MRT files to GitHub
**/*.bz2
**/*.gz

# Don't sync pycache
**/__pycache__/

# Don't sync virtualenv
**/venv/
